body{
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
}
body:before{
	content: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffdead;
	z-index: -1;
}
.titulo{
	background-color: #8b4513 ;
	color: #ffebcd;
	font-size: 35px;
	font-family: rockwell;
	position: left;
	margin-top: 0px;
}
ul li {
	background-color: #000;
	color:#fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
ul li a:hover {
	background-color: #434343;
} 
.video{
	list-style: none;
	background-color: #8b4513;
	color: #fff;
	text-decoration: none;
	font-family: rockwell;
	padding: 10px;
	display: block;
}
.v1{
	margin-top: -100px;
	width: 500px;
	height: 500px;
}